*.tar.gz

*.exe
src/bin/

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h
*.fhir
*.pbobjc.m
*.pbobjc.h
*.log
*.trs
*.dmg
*.key
*.json.h
*.raw.h
*.java

#libtool object files
*.lo
*.la


# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

